@model TestViewModel
@{
    Title = "This is a test page with a really long title that should get truncated in smaller viewports";
}

@section styles {
    <style>
        .body-dark .d-light {
            display: none;
        }

        body:not(.body-dark) .d-dark {
            display: none;
        }
    </style>
}

@section navbar_secondary {
    <nav class="nav nav-tabs">
        <a class="nav-link active" href="@Url.Action(nameof(TestController.Index))">Components</a>
        <a class="nav-link" href="@Url.Action(nameof(TestController.GetRedirect))">Redirect</a>

        <div class="dropdown align-self-center ml--1">
            <button type="button" class="btn btn-sm btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">@Svg.Icon("chevron-down")</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="@Url.Action(nameof(TestController.GetRedirect))?fragment=comments">@Svg.Icon("arrow-right") Redirect to #comments</a>
                <a class="dropdown-item" href="@Url.Action(nameof(TestController.GetRedirect))#comments" data-turbolinks="false">@Svg.Icon("arrow-right") Redirect to #comments (no turbolinks)</a>
                <form action="@Url.Action(nameof(TestController.PostRedirect))" method="post" data-turboform>
                    <button class="dropdown-item" type="submit">@Svg.Icon("arrow-right") Redirect via POST</button>
                </form>

            </div>
        </div>

        <a class="nav-link" href="@(Url.Action<TestController>(c => c.Email()))" data-turbolinks="false">Email</a>
        <div class="dropdown align-self-center ml--1">
            <button type="button" class="btn btn-sm btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">@Svg.Icon("chevron-down")</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.ConversationEmail(false, null)))" data-turbolinks="false">@Svg.Icon("email") Conversation</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.DailyDigestEmail(false, null)))" data-turbolinks="false">@Svg.Icon("email") DailyDigest</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.InviteEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Invite</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.InviteExternalEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Invite External</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.NotificationEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Notification</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.PasswordResetEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Password Reset</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.SignupApprovalEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Signup Approval</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.SignupConfirmationEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Signup Confirmation</a>
                <a class="dropdown-item" href="@(Url.Action<TestController>(c => c.WelcomeEmail(false)))" data-turbolinks="false">@Svg.Icon("email") Welcome</a>

            </div>
        </div>
    </nav>
    <div class="navbar-icons">
        <div class="dropdown">
            <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">
                @Svg.Icon("dots-vertical")
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:;">@Svg.Icon("textbox") Rename tab</a>
                <a class="dropdown-item" href="javascript:;">@Svg.Icon("delete") Remove tab</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;">@Svg.Icon("plus") Add tab</a>
            </div>
        </div>
    </div>
}

@Html.Partial("_Components")

@section fab {
    <div class="fab dropup">
        <button type="button" class="btn btn-round btn-success dropdown-toggle" data-toggle="dropdown" title="Create" aria-expanded="false" aria-haspopup="true">@Svg.Icon("plus")</button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <h6 class="dropdown-header">New</h6>
            <a class="dropdown-item" href="#">@Svg.Icon("file-document-box", "native") Note</a>
            <a class="dropdown-item" href="#">@Svg.Icon("file-word", "native") Word file</a>
            <a class="dropdown-item" href="#">@Svg.Icon("file-excel", "native") Excel file</a>
            <h6 class="dropdown-header">Add file from</h6>
            <a class="dropdown-item" href="#">@Svg.Icon("cloud", "light-blue") Cloud</a>
            <a class="dropdown-item" href="#">@Svg.Icon("laptop", "theme-700") Computer</a>
        </div>
    </div>
}

@section footer {
    @* testing that adding inline script to a page works *@
    <script>
        console.info("script on test page");

        $(document).on("click", "[data-body-bg]", function (e) {
            console.log("Going " + this.dataset.bodyBg);
            if (this.dataset.bodyBg === "light") {

                $(document.body).removeClass("body-dark");
            } else {
                $(document.body).addClass("body-dark");
            }
        });

        $(document).on("click", ".fab .btn-round", function (e) {
            $(this).toggleClass("show");
        });

        $(document).on("click", ".btn[data-alert]", function (e) {
            var type = this.dataset.alert;
            var text = $(this).text();
            weavy.alert.alert(type, text, 3000);
        });

        document.addEventListener("turbolinks:load", function () {
            // init tooltips
            $('[data-toggle="tooltip"]').tooltip();
        });

        document.addEventListener("turbolinks:before-cache", function () {
            // destroy tooltips
            $('[data-toggle="tooltip"]').tooltip('dispose');
        });
    </script>
}
