@model Wvy.Areas.Apps.Models.TasksApp
@using Wvy.Areas.Apps.Models;

<div class="container" id="taskApp@(Model.Id)">
    <!-- App -->
    <div id="app">
        <div class="tasks-wrapper my-4">
            <tasks-header></tasks-header>
            <div class="todo-content">
                <tasks-form></tasks-form>
                <tasks-list :collection="taskListState.items"></tasks-list>
            </div>
        </div>
        <tasks-modal></tasks-modal>
        <tasks-comments></tasks-comments>
    </div>

    <!-- Tasks Form -->
    <template id="tasks-form">
        <div class="tasks-form">
            <input type="text" placeholder="Add a new task here and hit enter..." class="form-control" autofocus autocomplete="off" v-model="newTask" @@keyup.enter="addTask" />
        </div>
    </template>

    <!-- Tasks Header -->
    <template id="tasks-header">
        <div class="tasks-header d-none d-sm-block">
            <h2>{{appName}}</h2>
            <p class="task-report"><span class="task-remain">{{ taskDone }} done</span> / {{ taskTotal }} {{ taskTotal | pluralize }}</p>
        </div>
    </template>

    <!-- Task List -->
    <template id="tasks-list">
        <div class="task-list">
            <a class="toggle-completed" href="#" @@click="toggleCompleted">{{(hideCompleted ? 'Show' : 'Hide')}} completed {{(hideCompleted ? '(' + taskDone + ')' : '')}}</a>
            <ul>
                <draggable :list="collection" :options="{handle: '.checkbox'}" @@end="onDrop">
                    <task-item v-for="item in collection" :model="item" :hide="hideCompleted" :key="item.id"></task-item>
                </draggable>
            </ul>
        </div>

    </template>

    <!-- Task Item -->
    <template id="task-item">
        <li class="task-item" :class="{'editing': isEditing, 'task-done': isDone, 'd-none': shouldHide}">
            <span :class="'label priority' + model.priority"></span>

            <span class="checkbox">
                <button class="btn-icon" @@click="toggleCompleted" v-if="model.completed">@Svg.Icon("check-circle", color: "green")</button>
                <button class="btn-icon" @@click="toggleCompleted" v-if="!model.completed">@Svg.Icon("circle-outline")</button>
            </span>

            <p class="text flex-fill" v-if="isEditing">
                <input type="text" v-model="tempText" placeholder="Type a task name and hit enter" @@keyup.enter="save" @@blur="save" @@keyup.esc="cancelEdit">
            </p>


            <div class="text" v-if="!isEditing" @@dblclick="edit">
                <div>{{ model.name }}</div>

                <small class="text-muted description">{{ model.description }}</small>

                <div v-if="model.due_date"><small :class="{'text-red': isDue}">{{model.due_date  | datetime}}</small></div>

                <div v-if="model.assigned_to && model.assigned_to_user"><small><a :href="'/people/' + model.assigned_to" class="task-user"><img :title="'Assigned to' + model.assigned_to_user.profile.name" class="img-24 avatar" :src="'/people/' + model.assigned_to + '/avatar-48x48.jpg'" /></a> <span>{{model.assigned_to_user.profile.name}}</span></small></div>
            </div>

            <span v-if="!isEditing && model.is_starred" class="task-star" @@click="toggleStarred" data-entity="content" :data-id="model.id" data-toggle="star">
                @Svg.Icon("star", color: "yellow")                
            </span>

            <span v-if="!isEditing" class="task-comments" @@click="showComments">
                @Svg.Icon("comment", color: "text-primary", htmlAttributes: new { v_if = "model.comments" })
                @Svg.Icon("comment-outline", color: "text-primary", htmlAttributes: new { v_if = "!model.comments" })                
            </span>


            <!-- Task actions -->
            <div class="dropdown" v-if="!isEditing">
                <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">
                    @Svg.Icon("dots-vertical")
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="#" @@click="editTaskDetails" data-title="Task details">@Svg.Icon("information")<span>Details</span></a>

                    <button @@click="toggleStarred" :class="'dropdown-item toggle-dropdown ' + (model.is_starred ? 'on' : '')" data-entity="content" :data-id="model.id" data-toggle="star" type="button">
                        @Svg.Icon("star", color: "yellow", htmlAttributes: new { @class = "d-block" }) <span class="d-block">Star</span>
                        @Svg.Icon("star-off", color: "yellow", htmlAttributes: new { @class = "d-none" }) <span class="d-none">Unstar</span>
                    </button>

                    <button v-if="hasPermission('delete')" @@click="deleteItem" type="button" class="dropdown-item">@Svg.Icon("delete", color: "danger") Trash</button>

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Priority</h6>
                    <a class="dropdown-item" href="#" @@click="savePriority(2)">@Svg.Icon("circle-outline", color: "red", htmlAttributes: new { v_if = "model.priority != 2" }) @Svg.Icon("check-circle", color: "red", htmlAttributes: new { v_if = "model.priority == 2" })<span>Important</span></a>
                    <a class="dropdown-item" href="#" @@click="savePriority(1)">@Svg.Icon("circle-outline", color: "yellow", htmlAttributes: new { v_if = "model.priority != 1" }) @Svg.Icon("check-circle", color: "yellow", htmlAttributes: new { v_if = "model.priority == 1" })<span>Medium</span></a>
                    <a class="dropdown-item" href="#" @@click="savePriority(0)">@Svg.Icon("circle-outline", color: "gray", htmlAttributes: new { v_if = "model.priority != 0" }) @Svg.Icon("check-circle", color: "gray", htmlAttributes: new { v_if = "model.priority == 0" })<span>Normal</span></a>
                </div>
            </div>

        </li>
        <!-- End .task-action -->
    </template>

    <!-- Task Modal -->
    <template id="tasks-modal">
        <div class="modal" id="task-details-modal" role="dialog" aria-labelledby="task-details-modal" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title">Task details</h5>
                        <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                            @Svg.Icon("close")
                        </button>
                    </div>
                    <div class="modal-body" v-if="model">
                        <div class="form-group">
                            <label>Task name</label>
                            <input type="text" class="form-control" v-model="tmpName" placeholder="Type a task name">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" v-model="tmpDescription" placeholder="A task description"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Due date</label>
                            <input type="datetime-local" class="form-control" v-model="tmpDueDate" placeholder="">
                        </div>

                        <div class="form-group">
                            <label>Assigned to</label>
                            <select class="form-control" v-model="tmpAssignedTo" data-role="user-picker" style="width:100%;" data-placeholder="Start typing to search for a user">
                                <option v-for="opt in options" v-bind:value="opt.value">{{opt.text}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-primary" @@click="update">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <!-- Task Comments -->
    <template id="tasks-comments">
        <div class="modal" id="task-comments-modal" tabindex="-1" role="dialog" aria-labelledby="task-details-modal" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title">Task comments</h5>
                        <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                            @Svg.Icon("close")
                        </button>
                    </div>
                    @Html.SvgSpinner()
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-primary" @@click="hide">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

<script>

    $(function () {
        wvy.taskapp.init(@Model.Id, '@Model.AppGuid', '@Model.Name', @Html.ToJson(Model.Tasks.Cast<TaskItem>().OrderBy(x => x.Order)));
    });
</script>

@section styles{
    @Html.ThemeStyle("~/areas/apps/styles/tasks.scss")
}

@section footer {
    @{
        Html.RenderPartial("_FeedbackModal");
        Html.RenderPartial("_EditCommentModal");
    }
}
