@model Wvy.Models.TasksApp
@using Wvy.Models;

<div class="container my-4" id="taskApp@(Model.Id)">
    <!-- App -->
    <div id="app">
        <div class="tasks-wrapper">
            <tasks-header></tasks-header>
            <div class="todo-content">
                <tasks-form></tasks-form>
                <tasks-list :collection="taskListState.items"></tasks-list>
            </div>
        </div>
        <tasks-modal></tasks-modal>
        <tasks-comments></tasks-comments>
    </div>

    <!-- Tasks Form -->
    <template id="tasks-form">
        <div class="tasks-form">
            <input type="text" placeholder="Add a new task here and hit enter..." class="form-control" autofocus autocomplete="off" v-model="newTask" @@keyup.enter="addTask" />
        </div>
    </template>

    <!-- Tasks Header -->
    <template id="tasks-header">
        <div class="tasks-header d-none d-sm-block">
            <h2>{{appName}}</h2>
            <p class="task-report"><span class="task-remain">{{ taskDone }} done</span> / {{ taskTotal }} {{ taskTotal | pluralize }}</p>
        </div>
    </template>

    <!-- Task List -->
    <template id="tasks-list">
        <ul class="task-list">
            <draggable :list="collection" :options="{handle: '.checkbox'}" @@end="onDrop">                
                <task-item v-for="item in collection" :model="item" :key="item.id"></task-item>                
            </draggable>            
        </ul>
    </template>

    <!-- Task Item -->
    <template id="task-item">
        <li class="task-item" :class="{'editing': isEditing, 'task-done': isDone}">
            <span @@click="showPriorities" :class="'label priority' + model.priority">
                <ul class="priority-label priority-popup">
                    <li @@click="savePriority(2)" class="important">Important</li>
                    <li @@click="savePriority(1)" class="medium">Medium</li>
                    <li @@click="savePriority(0)" class="normal">Normal</li>
                </ul>
            </span>

            <span class="checkbox">
                <button class="btn-icon" @@click="toggleCompleted" v-if="model.completed"><svg class="text-green i"><use xlink:href="#check-circle"></use></svg></button>
                <button class="btn-icon" @@click="toggleCompleted" v-if="!model.completed"><svg class="i"><use xlink:href="#circle-outline"></use></svg></button>
            </span>

            <p class="text flex-fill" v-if="isEditing">
                <input type="text" v-model="tempText" placeholder="Type a task name and hit enter" @@keyup.enter="save" @@blur="save" @@keyup.esc="cancelEdit">
            </p>

            
            <div class="text" v-if="!isEditing" @@dblclick="edit">
                <div>{{ model.name }}</div>

                <small class="text-muted description">{{ model.description }}</small>
                
                <div v-if="model.due_date"><small :class="{'text-red': isDue}">{{model.due_date  | datetime}}</small></div>

                <div v-if="model.assigned_to && model.assigned_to_user"><small><a :href="'/people/' + model.assigned_to" class="task-user"><img :title="'Assigned to' + model.assigned_to_user.profile.name" class="img-24 avatar" :src="'/people/' + model.assigned_to + '/avatar-48x48.jpg'" /></a> <span>{{model.assigned_to_user.profile.name}}</span></small></div>
            </div>

            <span v-if="!isEditing" class="task-star">
                <svg class="text-yellow i" v-if="model.is_starred"><use xlink:href="#star"></use></svg>
            </span>

            <span v-if="!isEditing" class="task-comments" @@click="showComments">
                <svg class="text-primary i"><use v-bind="{'xlink:href':'#comment' + (model.comments ? '' : '-outline')}"></use></svg>
            </span>


            <!-- Task actions -->
            <div class="dropdown" v-if="!isEditing">
                <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">
                    <svg class="i"><use xlink:href="#dots-vertical"></use></svg>
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="#" @@click="editTaskDetails" data-title="Task details"><svg class="text-primary i"><use xlink:href="#information"></use></svg><span>Details</span></a>

                    <button @@click="toggleStarred" :class="'dropdown-item toggle-dropdown ' + (model.is_starred ? 'on' : '')" data-entity="content" :data-id="model.id" data-toggle="star" type="button">
                        <svg class="text-yellow i d-block"><use xlink:href="#star"></use></svg> <span class="d-block">Star</span>
                        <svg class="text-yellow i d-none"><use xlink:href="#star-off"></use></svg> <span class="d-none">Unstar</span>
                    </button>

                    <button @@click="deleteItem" type="button" class="dropdown-item"><svg class="text-danger i"><use xlink:href="#delete"></use></svg> Trash</button>

                </div>
            </div>

        </li>
        <!-- End .task-action -->
    </template>

    <!-- Task Modal -->
    <template id="tasks-modal">
        <div class="modal" id="task-details-modal" role="dialog" aria-labelledby="task-details-modal" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title">Task details</h5>
                        <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                            @Html.SvgIcon("close")
                        </button>
                    </div>
                    <div class="modal-body" v-if="model">
                        <div class="form-group">
                            <label>Task name</label>
                            <input type="text" class="form-control" v-model="tmpName" placeholder="Type a task name">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" v-model="tmpDescription" placeholder="A task description"></textarea>                            
                        </div>

                        <div class="form-group">
                            <label>Due date</label>
                            <input type="datetime-local" class="form-control" v-model="tmpDueDate" placeholder="">
                        </div>

                        <div class="form-group">
                            <label>Assigned to</label>
                            <select class="form-control" v-model="tmpAssignedTo" data-role="user-picker" style="width:100%;" data-placeholder="Start typing to search for a user">
                                <option v-for="opt in options" v-bind:value="opt.value">{{opt.text}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-primary" @@click="update">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <!-- Task Comments -->
    <template id="tasks-comments">
        <div class="modal" id="task-comments-modal" tabindex="-1" role="dialog" aria-labelledby="task-details-modal" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title">Task comments</h5>
                        <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                            @Html.SvgIcon("close")
                        </button>
                    </div>
                    @Html.SvgSpinner()
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-primary" @@click="hide">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

<script>        
    $(function () {
        wvy.taskapp.init(@Model.Id, '@Model.AppGuid', '@Model.Name', @Html.ToJson(Model.Tasks.Cast<TaskItem>().OrderBy(x => x.Order)));
    });
</script>

@section styles{
    @Html.ThemeStyle("~/styles/apps/tasks.scss")
}

@section footer {    
    @{
        Html.RenderPartial("_FeedbackModal");
        Html.RenderPartial("_EditCommentModal");
    }
}
